<a href="https://colab.research.google.com/github/saqib772/LangChain_CSV/blob/main/LangChain_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Talking to CSV and Excel files with LangChain

In [1]:
!pip -q install langchain openai

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 MB 15.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 73.6/73.6 kB 5.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 90.0/90.0 kB 7.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.1/49.1 kB 4.3 MB/s eta 0:00:00

In [11]:
import os

os.environ["OPENAI_API_KEY"] = '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'

In [3]:
!pip show langchain

Name: langchain
Version: 0.0.218
Summary: Building applications with LLMs through composability
Home-page: https://www.github.com/hwchase17/langchain
Author:
Author-email:
License: MIT
Location: /usr/local/lib/python3.10/dist-packages
Requires: aiohttp, async-timeout, dataclasses-json, langchainplus-sdk, numexpr, numpy, openapi-schema-pydantic, pydantic, PyYAML, requests, SQLAlchemy, tenacity
Required-by:

## Dataset - Black Friday Sales


https://www.kaggle.com/datasets/sdolezel/black-friday

In [7]:
import pandas as pd

df = pd.read_csv('apple_products.csv')

In [12]:
df.head()

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,0,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,0,11202,794,MOBEXRGVMZWUHCBA,4.5,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,0,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB

## CSV Agent

NOTE: this agent calls the Pandas DataFrame agent under the hood, which in turn calls the Python agent, which executes LLM generated Python code - this can be bad if the LLM generated Python code is harmful. Use cautiously.

In [9]:
from langchain.agents import create_csv_agent
from langchain.llms import OpenAI

In [14]:
agent = create_csv_agent(OpenAI(temperature=0),'apple_products.csv', verbose=True)

In [15]:
agent

AgentExecutor(memory=None, callbacks=None, callback_manager=None, verbose=True, tags=None, agent=ZeroShotAgent(llm_chain=LLMChain(memory=None, callbacks=None, callback_manager=None, verbose=False, tags=None, prompt=PromptTemplate(input_variables=['input', 'agent_scratchpad'], output_parser=None, partial_variables={'df_head': '|    | Product Name                             | Product URL                                                                                            | Brand   |   Sale Price |   Mrp |   Discount Percentage |   Number Of Ratings |   Number Of Reviews | Upc              |   Star Rating | Ram   |\n|---:|:-----------------------------------------|:-------------------------------------------------------------------------------------------------------|:--------|-------------:|------:|----------------------:|--------------------:|--------------------:|:-----------------|--------------:|:------|\n|  0 | APPLE iPhone 8 Plus (Gold, 64 GB)        | https://www.flipkart.com/apple-iphone-8-plus-gold-64-gb/p/itmexrgvuzgzttzh?pid=MOBEXRGV7EHHTGUH        | Apple   |        49900 | 49900 |                     0 |                3431 |                 356 | MOBEXRGV7EHHTGUH |           4.6 | 2 GB  |\n|  1 | APPLE iPhone 8 Plus (Space Grey, 256 GB) | https://www.flipkart.com/apple-iphone-8-plus-space-grey-256-gb/p/itmexrgvzkbyqgtf?pid=MOBEXRGVAC6TJT4F | Apple   |        84900 | 84900 |                     0 |                3431 |                 356 | MOBEXRGVAC6TJT4F |           4.6 | 2 GB  |\n|  2 | APPLE iPhone 8 Plus (Silver, 256 GB)     | https://www.flipkart.com/apple-iphone-8-plus-silver-256-gb/p/itmexrgvxatuyrqw?pid=MOBEXRGVGETABXWZ     | Apple   |        84900 | 84900 |                     0 |                3431 |                 356 | MOBEXRGVGETABXWZ |           4.6 | 2 GB  |\n|  3 | APPLE iPhone 8 (Silver, 256 GB)          | https://www.flipkart.com/apple-iphone-8-silver-256-gb/p/itmexrgvae48gzhp?pid=MOBEXRGVMZWUHCBA          | Apple   |        77000 | 77000 |                     0 |               11202 |                 794 | MOBEXRGVMZWUHCBA |           4.5 | 2 GB  |\n|  4 | APPLE iPhone 8 (Gold, 256 GB)            | https://www.flipkart.com/apple-iphone-8-gold-256-gb/p/itmexrgv8bvfbzgw?pid=MOBEXRGVPK7PFEJZ            | Apple   |        77000 | 77000 |                     0 |               11202 |                 794 | MOBEXRGVPK7PFEJZ |           4.5 | 2 GB  |'}, template='\nYou are working with a pandas dataframe in Python. The name of the dataframe is `df`.\nYou should use the tools below to answer the question posed of you:\n\npython_repl_ast: A Python shell. Use this to execute python commands. Input should be a valid python command. When using this tool, sometimes output is abbreviated - make sure it does not look abbreviated before using it in your answer.\n\nUse the following format:\n\nQuestion: the input question you must answer\nThought: you should always think about what to do\nAction: the action to take, should be one of [python_repl_ast]\nAction Input: the input to the action\nObservation: the result of the action\n... (this Thought/Action/Action Input/Observation can repeat N times)\nThought: I now know the final answer\nFinal Answer: the final answer to the original input question\n\n\nThis is the result of `print(df.head())`:\n{df_head}\n\nBegin!\nQuestion: {input}\n{agent_scratchpad}', template_format='f-string', validate_template=True), llm=OpenAI(cache=None, verbose=False, callbacks=None, callback_manager=None, tags=None, client=<class 'openai.api_resources.completion.Completion'>, model_name='text-davinci-003', temperature=0.0, max_tokens=256, top_p=1, frequency_penalty=0, presence_penalty=0, n=1, best_of=1, model_kwargs={}, openai_api_key='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', openai_api_base='', openai_organization='', openai_proxy='', batch_size=20, request_timeout=None, logit_bias={}, max_retries=6, streaming=False, allowed_special=set(), disallowed_special='all', tiktoken_model_name=None), output_key='text', output_parser=NoOpOutputParser(), return_final_only=True, llm_kwargs={}), output_parser=MRKLOutputParser(), allowed_tools=['python_repl_ast']), tools=[PythonAstREPLTool(name='python_repl_ast', description='A Python shell. Use this to execute python commands. Input should be a valid python command. When using this tool, sometimes output is abbreviated - make sure it does not look abbreviated before using it in your answer.', args_schema=None, return_direct=False, verbose=False, callbacks=None, callback_manager=None, handle_tool_error=False, globals={}, locals={'df':                                 Product Name  \
0          APPLE iPhone 8 Plus (Gold, 64 GB)
1   APPLE iPhone 8 Plus (Space Grey, 256 GB)
2       APPLE iPhone 8 Plus (Silver, 256 GB)
3            APPLE iPhone 8 (Silver, 256 GB)
4              APPLE iPhone 8 (Gold, 256 GB)
..                                       ...
57            APPLE iPhone SE (Black, 64 GB)
58           APPLE iPhone 11 (Purple, 64 GB)
59            APPLE iPhone 11 (White, 64 GB)
60            APPLE iPhone 11 (Black, 64 GB)
61              APPLE iPhone 11 (Red, 64 GB)

                                          Product URL  Brand  Sale Price  \
0   https://www.flipkart.com/apple-iphone-8-plus-g...  Apple       49900
1   https://www.flipkart.com/apple-iphone-8-plus-s...  Apple       84900
2   https://www.flipkart.com/apple-iphone-8-plus-s...  Apple       84900
3   https://www.flipkart.com/apple-iphone-8-silver...  Apple       77000
4   https://www.flipkart.com/apple-iphone-8-gold-2...  Apple       77000
..                                                ...    ...         ...
57  https://www.flipkart.com/apple-iphone-se-black...  Apple       29999
58  https://www.flipkart.com/apple-iphone-11-purpl...  Apple       46999
59  https://www.flipkart.com/apple-iphone-11-white...  Apple       46999
60  https://www.flipkart.com/apple-iphone-11-black...  Apple       46999
61  https://www.flipkart.com/apple-iphone-11-red-6...  Apple       46999

      Mrp  Discount Percentage  Number Of Ratings  Number Of Reviews  \
0   49900                    0               3431                356
1   84900                    0               3431                356
2   84900                    0               3431                356
3   77000                    0              11202                794
4   77000                    0              11202                794
..    ...                  ...                ...                ...
57  39900                   24              95909               8161
58  54900                   14              43470               3331
59  54900                   14              43470               3331
60  54900                   14              43470               3331
61  54900                   14              43470               3331

                 Upc  Star Rating   Ram
0   MOBEXRGV7EHHTGUH          4.6  2 GB
1   MOBEXRGVAC6TJT4F          4.6  2 GB
2   MOBEXRGVGETABXWZ          4.6  2 GB
3   MOBEXRGVMZWUHCBA          4.5  2 GB
4   MOBEXRGVPK7PFEJZ          4.5  2 GB
..               ...          ...   ...
57  MOBFWQ6BR3MK7AUG          4.5  4 GB
58  MOBFWQ6BTFFJKGKE          4.6  4 GB
59  MOBFWQ6BVWVEH3XE          4.6  4 GB
60  MOBFWQ6BXGJCEYNY          4.6  4 GB
61  MOBFWQ6BYYV3FCU7          4.6  4 GB

[62 rows x 11 columns]}, sanitize_input=True)], return_intermediate_steps=False, max_iterations=15, max_execution_time=None, early_stopping_method='force', handle_parsing_errors=False)

In [16]:
agent.agent.llm_chain.prompt.template

'\nYou are working with a pandas dataframe in Python. The name of the dataframe is `df`.\nYou should use the tools below to answer the question posed of you:\n\npython_repl_ast: A Python shell. Use this to execute python commands. Input should be a valid python command. When using this tool, sometimes output is abbreviated - make sure it does not look abbreviated before using it in your answer.\n\nUse the following format:\n\nQuestion: the input question you must answer\nThought: you should always think about what to do\nAction: the action to take, should be one of [python_repl_ast]\nAction Input: the input to the action\nObservation: the result of the action\n... (this Thought/Action/Action Input/Observation can repeat N times)\nThought: I now know the final answer\nFinal Answer: the final answer to the original input question\n\n\nThis is the result of `print(df.head())`:\n{df_head}\n\nBegin!\nQuestion: {input}\n{agent_scratchpad}'


You are working with a pandas dataframe in Python. The name of the dataframe is `df`.
You should use the tools below to answer the question posed of you:

python_repl_ast: A Python shell. Use this to execute python commands. Input should be a valid python command. When using this tool, sometimes output is abbreviated - make sure it does not look abbreviated before using it in your answer.

Use the following format:

Question: the input question you must answer
Thought: you should always think about what to do
Action: the action to take, should be one of [python_repl_ast]
Action Input: the input to the action
Observation: the result of the action
... (this Thought/Action/Action Input/Observation can repeat N times)
Thought: I now know the final answer
Final Answer: the final answer to the original input question


This is the result of `print(df.head())`:
{df}

Begin!
Question: {input}
{agent_scratchpad}

In [17]:
agent.run("how many rows are there?")

> Entering new  chain...
Thought: I need to count the number of rows
Action: python_repl_ast
Action Input: len(df)
Observation: 62
Thought: I now know the final answer
Final Answer: There are 62 rows.

> Finished chain.

'There are 62 rows.'

In [18]:
agent.run("Which apple product is most sold?")

> Entering new  chain...
Thought: I need to find the product with the highest number of ratings.
Action: python_repl_ast
Action Input: df.sort_values(by='Number Of Ratings', ascending=False).head(1)
Observation:                                          Product Name  \
23  Apple iPhone SE (White, 256 GB) (Includes EarP...

                                          Product URL  Brand  Sale Price  \
23  https://www.flipkart.com/apple-iphone-se-white...  Apple       44999

      Mrp  Discount Percentage  Number Of Ratings  Number Of Reviews  \
23  54900                   18              95909               8161

                 Upc  Star Rating   Ram
23  MOBFRFXHPZCHAPEH          4.5  2 GB
Thought: I now know the final answer
Final Answer: The Apple iPhone SE (White, 256 GB) (Includes EarPods and Power Adapter) is the most sold Apple product.

> Finished chain.

'The Apple iPhone SE (White, 256 GB) (Includes EarPods and Power Adapter) is the most sold Apple product.'

In [20]:
agent.run("Which apple Product has the Most reviews and Ratings")

> Entering new  chain...
Thought: I need to find the product with the highest number of reviews and ratings
Action: python_repl_ast
Action Input: df[df['Brand'] == 'Apple'][['Product Name', 'Number Of Ratings', 'Number Of Reviews']].sort_values(by=['Number Of Ratings', 'Number Of Reviews'], ascending=False).head(1)
Observation:                                          Product Name  Number Of Ratings  \
23  Apple iPhone SE (White, 256 GB) (Includes EarP...              95909

    Number Of Reviews
23               8161
Thought: I now know the final answer
Final Answer: The Apple product with the most reviews and ratings is the iPhone SE (White, 256 GB) (Includes EarPods and Power Adapter).

> Finished chain.

'The Apple product with the most reviews and ratings is the iPhone SE (White, 256 GB) (Includes EarPods and Power Adapter).'

In [21]:
agent.run("How apple Product has most sales in a year?")

> Entering new  chain...
Thought: I need to find the total number of sales for each Apple product
Action: python_repl_ast
Action Input: df[df['Brand'] == 'Apple'].groupby('Product Name').sum()['Sale Price']
Observation: Product Name
APPLE iPhone 11 (Black, 128 GB)                                             54999
APPLE iPhone 11 (Black, 64 GB)                                              46999
APPLE iPhone 11 (Purple, 64 GB)                                             46999
APPLE iPhone 11 (Red, 128 GB)                                               54999
APPLE iPhone 11 (Red, 64 GB)                                                46999
                                                                            ...
Apple iPhone XR ((PRODUCT)RED, 128 GB) (Includes EarPods, Power Adapter)    41999
Apple iPhone XR (Black, 128 GB) (Includes EarPods, Power Adapter)           41999
Apple iPhone XR (Black, 64 GB) (Includes EarPods, Power Adapter)            39999
Apple iPhone XR (Coral, 128 GB) (Includes EarPods, Power Adapter)           41999
Apple iPhone XR (White, 128 GB) (Includes EarPods, Power Adapter)           41999
Name: Sale Price, Length: 62, dtype: int64
Thought:

<string>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.

 I now know the total number of sales for each Apple product
Final Answer: The Apple product with the most sales in a year is the Apple iPhone 11 (Black, 128 GB) with 54999 sales.

> Finished chain.

'The Apple product with the most sales in a year is the Apple iPhone 11 (Black, 128 GB) with 54999 sales.'

In [22]:
agent.run("On Average how much The Greatest Discount we get on Iphone sales")

> Entering new  chain...
Thought: I need to calculate the average discount percentage
Action: python_repl_ast
Action Input: df['Discount Percentage'].mean()
Observation: 9.951612903225806
Thought: I now know the final answer
Final Answer: On average, we get a 9.95% discount on iPhone sales.

> Finished chain.

'On average, we get a 9.95% discount on iPhone sales.'

In [23]:
agent.run("Tell which phone has highest reviews and lowest reviews and also which phone has greatest and lowest discounts?")

> Entering new  chain...
Thought: I need to find the phone with the highest and lowest reviews and discounts.
Action: python_repl_ast
Action Input: df.sort_values(by=['Number Of Reviews', 'Discount Percentage'], ascending=False)
Observation:                                          Product Name  \
57                     APPLE iPhone SE (Black, 64 GB)
53                    APPLE iPhone SE (Black, 128 GB)
55                      APPLE iPhone SE (Red, 128 GB)
23  Apple iPhone SE (White, 256 GB) (Includes EarP...
52                     APPLE iPhone SE (White, 64 GB)
..                                                ...
30             APPLE iPhone 12 Pro (Graphite, 128 GB)
46         APPLE iPhone 12 Pro (Pacific Blue, 128 GB)
24               APPLE iPhone 12 Pro (Silver, 512 GB)
27             APPLE iPhone 12 Pro (Graphite, 256 GB)
41         APPLE iPhone 12 Pro (Pacific Blue, 512 GB)

                                          Product URL  Brand  Sale Price  \
57  https://www.flipkart.com/apple-iphone-se-black...  Apple       29999
53  https://www.flipkart.com/apple-iphone-se-black...  Apple       34999
55  https://www.flipkart.com/apple-iphone-se-red-1...  Apple       34999
23  https://www.flipkart.com/apple-iphone-se-white...  Apple       44999
52  https://www.flipkart.com/apple-iphone-se-white...  Apple       29999
..                                                ...    ...         ...
30  https://www.flipkart.com/apple-iphone-12-pro-g...  Apple      110900
46  https://www.flipkart.com/apple-iphone-12-pro-p...  Apple      110900
24  https://www.flipkart.com/apple-iphone-12-pro-s...  Apple      140900
27  https://www.flipkart.com/apple-iphone-12-pro-g...  Apple      120900
41  https://www.flipkart.com/apple-iphone-12-pro-p...  Apple      140900

       Mrp  Discount Percentage  Number Of Ratings  Number Of Reviews  \
57   39900                   24              95909               8161
53   44900                   22              95909               8161
55   44900                   22              95909               8161
23   54900                   18              95909               8161
52   39900                   24              95807               8154
..     ...                  ...                ...                ...
30  119900                    7                545                 42
46  119900                    7                545                 42
24  149900                    6                542                 42
27  129900                    6                545                 42
41  149900                    6                545                 42

                 Upc  Star Rating   Ram
57  MOBFWQ6BR3MK7AUG          4.5  4 GB
53  MOBFWQ6BHUEVZPXD          4.5  2 GB
55  MOBFWQ6BJTVFKPEJ          4.5  2 GB
23  MOBFRFXHPZCHAPEH          4.5  2 GB
52  MOBFWQ6BGWDVGF3E          4.5  2 GB
..               ...          ...   ...
30  MOBFWBYZBZ7Y56WD          4.5  6 GB
46  MOBFWBYZXYSCEEEH          4.5  6 GB
24  MOBFWBYZ5UY6ZBVA          4.5  4 GB
27  MOBFWBYZBA36UB7G          4.5  6 GB
41  MOBFWBYZTHSXKMGW          4.5  4 GB

[62 rows x 11 columns]
Thought: I now know the highest and lowest reviews and discounts.
Final Answer: The phone with the highest reviews is the APPLE iPhone SE (Black, 64 GB) with 8161 reviews and the phone with the lowest reviews is the APPLE iPhone 12 Pro (Pacific Blue, 512 GB) with 42 reviews. The phone with the greatest discount is the APPLE iPhone SE (Black, 64 GB) with 24% discount and the phone with the lowest discount is the APPLE iPhone 12 Pro (Pacific Blue, 512 GB) with 6% discount.

> Finished chain.

'The phone with the highest reviews is the APPLE iPhone SE (Black, 64 GB) with 8161 reviews and the phone with the lowest reviews is the APPLE iPhone 12 Pro (Pacific Blue, 512 GB) with 42 reviews. The phone with the greatest discount is the APPLE iPhone SE (Black, 64 GB) with 24% discount and the phone with the lowest discount is the APPLE iPhone 12 Pro (Pacific Blue, 512 GB) with 6% discount.'

In [25]:
agent.run("On Average which Brands Sell the most Phones ")
agent.run("On Average Which which was the lowest phone sold out")

> Entering new  chain...
Thought: I need to find the average number of ratings for each brand
Action: python_repl_ast
Action Input: df.groupby('Brand')['Number Of Ratings'].mean()
Observation: Brand
Apple    22420.403226
Name: Number Of Ratings, dtype: float64
Thought: Apple has the highest average number of ratings
Final Answer: On average, Apple sells the most phones.

> Finished chain.


> Entering new  chain...
Thought: I need to find the average sale price of the phones
Action: python_repl_ast
Action Input: df['Sale Price'].mean()
Observation: 80073.8870967742
Thought: I now know the final answer
Final Answer: On average, the lowest phone sold out was priced at 80073.89.

> Finished chain.

'On average, the lowest phone sold out was priced at 80073.89.'

In [26]:
agent.run("Which Phone has The largest ram")

> Entering new  chain...
Thought: I need to find the phone with the largest ram
Action: python_repl_ast
Action Input: df[df['Ram'] == df['Ram'].max()]
Observation:                                       Product Name  \
25  APPLE iPhone 12 Pro Max (Pacific Blue, 256 GB)
27          APPLE iPhone 12 Pro (Graphite, 256 GB)
29                 APPLE iPhone 12 (White, 128 GB)
30          APPLE iPhone 12 Pro (Graphite, 128 GB)
31      APPLE iPhone 12 Pro Max (Graphite, 256 GB)
32      APPLE iPhone 12 Pro Max (Graphite, 128 GB)
35                 APPLE iPhone 12 (Black, 128 GB)
36                  APPLE iPhone 12 (Blue, 128 GB)
37        APPLE iPhone 12 Pro Max (Silver, 128 GB)
38               APPLE iPhone 12 Mini (Red, 64 GB)
39          APPLE iPhone 12 Pro Max (Gold, 128 GB)
40                 APPLE iPhone 12 (Green, 128 GB)
42                  APPLE iPhone 12 (White, 64 GB)
43                  APPLE iPhone 12 (Black, 64 GB)
44                   APPLE iPhone 12 (Red, 128 GB)
46      APPLE iPhone 12 Pro (Pacific Blue, 128 GB)
47  APPLE iPhone 12 Pro Max (Pacific Blue, 128 GB)
48        APPLE iPhone 12 Pro Max (Silver, 256 GB)
49          APPLE iPhone 12 Pro Max (Gold, 256 GB)

                                          Product URL  Brand  Sale Price  \
25  https://www.flipkart.com/apple-iphone-12-pro-m...  Apple      130900
27  https://www.flipkart.com/apple-iphone-12-pro-g...  Apple      120900
29  https://www.flipkart.com/apple-iphone-12-white...  Apple       75900
30  https://www.flipkart.com/apple-iphone-12-pro-g...  Apple      110900
31  https://www.flipkart.com/apple-iphone-12-pro-m...  Apple      130900
32  https://www.flipkart.com/apple-iphone-12-pro-m...  Apple      120900
35  https://www.flipkart.com/apple-iphone-12-black...  Apple       75900
36  https://www.flipkart.com/apple-iphone-12-blue-...  Apple       75900
37  https://www.flipkart.com/apple-iphone-12-pro-m...  Apple      120900
38  https://www.flipkart.com/apple-iphone-12-mini-...  Apple       59900
39  https://www.flipkart.com/apple-iphone-12-pro-m...  Apple      120900
40  https://www.flipkart.com/apple-iphone-12-green...  Apple       75900
42  https://www.flipkart.com/apple-iphone-12-white...  Apple       70900
43  https://www.flipkart.com/apple-iphone-12-black...  Apple       70900
44  https://www.flipkart.com/apple-iphone-12-red-1...  Apple       75900
46  https://www.flipkart.com/apple-iphone-12-pro-p...  Apple      110900
47  https://www.flipkart.com/apple-iphone-12-pro-m...  Apple      120900
48  https://www.flipkart.com/apple-iphone-12-pro-m...  Apple      130900
49  https://www.flipkart.com/apple-iphone-12-pro-m...  Apple      130900

       Mrp  Discount Percentage  Number Of Ratings  Number Of Reviews  \
25  139900                    6                580                 45
27  129900                    6                545                 42
29   84900                   10               2101                180
30  119900                    7                545                 42
31  139900                    6                580                 45
32  129900                    6                580                 45
35   84900                   10               2101                180
36   84900                   10               2101                180
37  129900                    6                580                 45
38   69900                   14                740                 64
39  129900                    6                580                 45
40   84900                   10               2092                178
42   79900                   11               2101                180
43   79900                   11               2092                178
44   84900                   10               2101                180
46  119900                    7                545                 42
47  129900                    6                580                 45
48  139900                    6                580                 45
49  139900                    6                580                 45

                 Upc  Star Rating   Ram
25  MOBFWBYZ8STJXCVT          4.6  6 GB
27  MOBFWBYZBA36UB7G          4.5  6 GB
29  MOBFWBYZBTZFGJF9          4.6  6 GB
30  MOBFWBYZBZ7Y56WD          4.5  6 GB
31  MOBFWBYZEF6XQ5ZW          4.6  6 GB
32  MOBFWBYZFDGQSDWS          4.6  6 GB
35  MOBFWBYZK3HACR72          4.6  6 GB
36  MOBFWBYZKPTZF9VG          4.6  6 GB
37  MOBFWBYZNSNVGGZC          4.6  6 GB
38  MOBFWBYZNVWGWN2U          4.5  6 GB
39  MOBFWBYZQVKT77YH          4.6  6 GB
40  MOBFWBYZQXUEHF48          4.6  6 GB
42  MOBFWBYZTK33MBG9          4.6  6 GB
43  MOBFWBYZU5FWK2VP          4.6  6 GB
44  MOBFWBYZUHPFWQRD          4.6  6 GB
46  MOBFWBYZXYSCEEEH          4.5  6 GB
47  MOBFWBYZZABKHZQA          4.6  6 GB
48  MOBFWBYZZH4AM8FE          4.6  6 GB
49  MOBFWBYZZPW8JHQF          4.6  6 GB
Thought: I now know the final answer
Final Answer: The phone with the largest ram is the APPLE iPhone 12 Pro Max (Pacific Blue, 256 GB) with 6 GB of ram.

> Finished chain.

'The phone with the largest ram is the APPLE iPhone 12 Pro Max (Pacific Blue, 256 GB) with 6 GB of ram.'

## LangChain CSV Loader

In [ ]:
from langchain.document_loaders.csv_loader import CSVLoader

loader = CSVLoader(file_path='/content/train.csv')
data = loader.load()

In [ ]:
#custom chain etc

## Convert XLS file to csv

In [ ]:
!pip install openpyxl

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openpyxl in /usr/local/lib/python3.9/dist-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.9/dist-packages (from openpyxl) (1.1.0)

In [ ]:
xls_file = r'/content/excel_file_example.xlsx'
output_csv = r'/content/excel_file_example.csv'

# Read the XLS file using pandas and openpyxl as the engine
data = pd.read_excel(xls_file, engine='openpyxl')

# Save the data as a CSV file
data.to_csv(output_csv, index=False)

In [ ]:
agent = create_csv_agent(OpenAI(temperature=0),
                         '/content/excel_file_example.csv',
                         verbose=True)

In [ ]:
agent.run("What are the column names?")

> Entering new AgentExecutor chain...
Thought: I need to find out what the column names are
Action: python_repl_ast
Action Input: df.columns
Observation: Index(['0', 'First Name', 'Last Name', 'Gender', 'Country', 'Age', 'Date',
       'Id'],
      dtype='object')
Thought: I now know the column names
Final Answer: 0, First Name, Last Name, Gender, Country, Age, Date, Id

> Finished chain.

'0, First Name, Last Name, Gender, Country, Age, Date, Id'

In [ ]:
agent.run("What is the average age?")

> Entering new AgentExecutor chain...
Thought: I need to calculate the average age of the people in the dataframe
Action: python_repl_ast
Action Input: df['Age'].mean()
Observation: 33.26
Thought: I now know the final answer
Final Answer: The average age is 33.26.

> Finished chain.

'The average age is 33.26.'

In [ ]:
agent.run("Which country appears the most and how many times does it appear?")

> Entering new AgentExecutor chain...
Thought: I need to count the number of times each country appears in the dataframe.
Action: python_repl_ast
Action Input: df['Country'].value_counts()
Observation: United States    48
Great Britain    28
France           24
Name: Country, dtype: int64
Thought: I now know the final answer
Final Answer: The country that appears the most is United States, appearing 48 times.

> Finished chain.

'The country that appears the most is United States, appearing 48 times.'

In [ ]:
agent.run("What is the ratio of males to females?")

> Entering new AgentExecutor chain...
Thought: I need to count the number of males and females
Action: python_repl_ast
Action Input: df['Gender'].value_counts()
Observation: Female    76
Male      24
Name: Gender, dtype: int64
Thought: I now know the final answer
Final Answer: 24:76

> Finished chain.

'24:76'